/* Background Color */
body {
    background-color: rgb(255, 255, 255);
}

/* Logo Specifications */
.logo {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 60px;
    color: rgb(70, 0, 95);
}

/* Custom Button Styles */
.btn-custom {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    background-color: white;
    border: 2px solid rgb(70, 0, 95);
    padding: 20px;
    transition: background-color 0.4s, color 0.4s;
}

/* Button Hover Effects */
.btn-custom:hover {
    background-color: rgb(70, 0, 95);
    color: white;
}

/* Specific Button Sizes */
#discover-button, #lists-button {
    height: 200px;
}

#maps-button {
    height: 400px;
}

#settings-button {
    height: 50px;
}

/* Ensure buttons fit the container */
.btn-custom {
    width: 100%;
    padding: 0;
}

/* Back Button Styles */
.backbutton {
    border: 2px solid rgb(70, 0, 95);
    background-color: white;
    color: black;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition: background-color 0.4s, color 0.4s;
}

.backbutton:hover {
    background-color: rgb(70, 0, 95);
    color: white;
}
