/* Background Color */
body {
    background-color: #fff;
}

/* Logo Specifications */
.logo {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 60px;
    color: rgb(70, 0, 95);
}

/* Button Styles */
.btn {
    border: 2px solid rgb(70, 0, 95);
    border-radius: 12px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(70, 0, 95);
    color: white;
}

.enterbutton1 {
    padding: 16px 32px;
}

.backbutton {
    padding: 10px 25px;
}

.discoverbutton, .yourlistbutton, .mapbutton, .settingsbutton {
    padding: 20px;
    background-color: rgba(63, 51, 61, 0.568);
    color: black;
}

.discoverbutton.small-width, .yourlistbutton.small-width {
    padding: 60px;
}

.mapbutton.small-width2, .settingsbutton.small-width2 {
    padding: 100px;
}

@media (max-width: 370px) {
    .small-width {
        width: 45%;
    }

    .small-width2 {
        width: 95%;
    }
}

/* Map Styles */
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
